h3{
    padding: 0% 15%;
}
.header{
    color: #FFF;
    font-size: 2.5em;
}
a{
	color: white;
}
.button{
	background-color: #d6d6d6;
	display: inline-block;
    border: none;
    border-radius: 25rem;
	padding: 0.9em 4em;
	font-size: 0.8em;
	font-weight: bold;
}
form {
    position: absolute;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 25%;
	height: 100%;
	text-align: center;
}
input{
    background-color: #eee;
    border: none;
    border-radius: 25rem;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.container {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	overflow: hidden;	
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
.sign-up{
	background-color: #000;
    position: absolute; 
    height: 100%;
    left: 0%;
	width: 50%;
	z-index: 0;
}
.sign-in{
	background-color: #000;
    position: absolute;
    height: 100%;
    left: 50%;
	width: 50%;
	z-index: 1;
}
#left-overlay{
	background-color: #fff;
    z-index: 1;
    color: #000;
    position: absolute;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    height: 100%;
    left: 0%;
    max-width: 50%;
	text-align: center;
}
#right-overlay{
	background-color: #fff;
    z-index: 0;
    color: #000;
    position: absolute;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    height: 100%;
    left: 50%;
    max-width: 50%;	
	text-align: center;
}
#psudo-alert
{
	justify-content: center;
	align-items: center;
	background: #000;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
  	position: absolute;
  	overflow: hidden;
	max-width: 50%;
  	padding: 2.5em;
  	top:25%;
	z-index: 3;
	display: none;
}
#psudo-alert-false{
	justify-content: center;
	align-items: center;
	background: #000;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
  	position: absolute;
  	overflow: hidden;
	max-width: 50%;
  	padding: 2.5em;
  	top:25%;
	z-index: 3;
	display: none;
}
#lvalid-false{
	justify-content: center;
	align-items: center;
	background: #000;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
  	position: absolute;
  	overflow: hidden;
	max-width: 50%;
  	padding: 2.5em;
  	top:25%;
	z-index: 3;
	display: none;	
}
#whiteb
{
	display: none;
	position: absolute;
	background-repeat: no-repeat; background-size: cover;
	z-index: 2;
	top: 0%;
	background-position: 50% 50%;
	margin: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: #FFF;
	opacity: 0.7;
}

#particles-js{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #4b4b4b;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat center center;
	position: fixed;
	top: 0%;
	left: 0%;
}
  
	