
body
{
    margin:0;
    padding:0;
    overflow-x:hidden;

}
.nav
{
	position:relative;
	color:red;
    background: #123;
    height:10vh;
    max-width: 100vw;
    z-index: 1;
}
.nav span
{
    padding:0.5em;
    position:absolute;
    color:white;
    right:2.8em;
    font-size:2em;
}
.left{
    
    max-width: 25vw;
    background: #115643;
    min-height: 90vh;
    padding:1rem 0;

}
button{
    background:blue;
    border: none;
    border-radius: 50%;
    padding: 1rem 0;
    margin:0.25rem;
    min-width:3rem;

}
.container
{
    background-color: #f1f1f1;
    padding: 1rem 2rem;
    min-height: 90vh;
    min-width:75vw;
    position: absolute;
    left: 25%;
    top:10vh;
    
}
.botnav
{
    position: absolute;
    background-color: cyan;
    bottom: 5vh;
}
.qblock{
    min-width: 200px;
    border:1px solid black;
    border-radius: 20px;
    padding:1rem;
    
}
#time
{
	position:absolute;
	right:0;
	color:red;
}
